<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="EpicorRESTGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EpicorRESTGenerator.Properties.Settings>
      <setting name="EpicorUrl" serializeAs="String">
        <value>https://yourepicorwebsite.com/instancename</value>
      </setting>
      <setting name="Namespace" serializeAs="String">
        <value>Epicor.Models</value>
      </setting>
      <setting name="BaseClass" serializeAs="String">
        <value>EpicorBase</value>
      </setting>
      <setting name="ERPProject" serializeAs="String">
        <value />
      </setting>
      <setting name="Username" serializeAs="String">
        <value>yourusername</value>
      </setting>
      <setting name="UseCredentials" serializeAs="String">
        <value>True</value>
      </setting>
    </EpicorRESTGenerator.Properties.Settings>
  </userSettings>
</configuration>
